.blog-list-collection{width:auto;padding:0;margin-left:-2.5em;margin-right:-2.5em;}
.blog-list-collection-item{list-style:none;display:inline-block;width:100%;margin:0;padding:0.5em 0;opacity:0.4;}
.blog-list-collection-item.active{opacity:1;}
.blog-list-collection-link{background-color:#e0e0e0;display:block;top:0;left:0;width:100%;height:100%;text-decoration:none;}
.blog-list-collection-link:hover{background-color:#ccc;color:#000;text-decoration:none;}
.blog-item-image{background-size:cover;max-width:600px;height:250px;max-height:100%;width:100%;margin:0;}
.blog-link-collection-content{padding:1em;}
.blog-link-collection-content h3{font-size:1.5rem;}

@media screen and (min-width:30em){.blog-list-collection{margin-left:0;margin-right:0;}
    .blog-list-collection-item{width:50%;padding:0.5em;}
    .blog-list-collection-item:nth-of-type(odd){padding-left:0;}
    .blog-list-collection-item:nth-of-type(even){padding-right:0;}
}

.medium-insert-buttons-show{color:#b8b8b8;position:absolute;margin-left:-3em;background:none;}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show:hover{background:none;}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show:hover{background:none;color:#909090;}
.medium-editable blockquote{font-size:1.6em;border-left:6px solid #aeb0aa;padding-left:1.5em;color:#aeb0aa;}
.medium-editable blockquote.small{font-size:1em;border-left:6px solid #aeb0aa;padding-left:1.5em;color:#aeb0aa;}
.medium-editable u{text-decoration:underline;}
.input-title{font-size:2em;font-weight:bold;padding:0;border:0;}
.options{position:absolute;right:0;top:0;margin-right:3.2em;}
.options a{display:inline-block;margin:0.8em 0 0 0 !important;}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li{margin-top:1.8875rem;}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons{left:-7px;}
.medium-insert-images-toolbar.medium-editor-toolbar.medium-toolbar-arrow-under.medium-editor-toolbar-active .medium-toolbar-arrow-under:after{display:none;}

.medium-insert-action { display: table-cell !important; vertical-align: middle; text-align: center;}
.fa:before { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.medium-insert-buttons-addons li { display: table !important; float: left; margin-left: .5em; margin-right: .5em;}
.medium-insert-buttons-addons li a { border-color: rgb(184, 184, 184); color: rgb(184, 184, 184);}
.medium-insert-buttons-addons li a:hover { border-color: #909090; color: #909090; background-color:transparent; }
.medium-insert-buttons-addons:before, .medium-insert-buttons-addons:after { content: " " !important; display: table !important; }
.medium-insert-buttons-addons:after { clear: both !important; }
.medium-insert-buttons-show { line-height: .95 !important;}

.medium-editor-toolbar-form-row:before, .medium-editor-toolbar-form-row:after { content: " "; display: table; }
.medium-editor-toolbar-form-row:after { clear: both; }

.medium-editor-toolbar-anchor-button + label { padding: 0; }
.medium-editable .btn { background-color: #000; color: #fff; padding: 0.125em; }
.medium-editable .btn:after { content: "\0000a0›"; }