html, button, datalist, input, select, textarea, .base, .text-base, .link-text-base:focus, .link-text-base:hover, .link-text-base:active { color: $text-color; }
html, .text { font-family: Helvetica Neue, Arial, sans-serif; font-size: 1rem; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: 1.375; }
html { font-size: globalPerc($base); }
body { background-color: #fff; height: auto; min-height: 100%; overflow: hidden; padding-bottom: 3rem + $page-margin; padding-top: $page-margin; }
body:after { content: "0em"; display: block; height: 0; position: absolute; overflow: hidden; width: 0; }
h1, h2, h3, h4, h5, h6, .title, .title--sub, .title--subsub { color: #222; font-weight: bold; }
h1, .title { font-size: 4rem; line-height: 1; margin: 0 0 1em; }
h2, .title--sub { font-size: 2rem; line-height: 1.1; margin: $paragraph-margin*1.5 0 0.6875em; }
h3, h4, .title--subsub { margin-top: $paragraph-margin*1.5; font-size: 1.25rem; line-height: inherit; }
p, ol, ul, blockquote, img, table, form, fieldset, pre, iframe, object, embed, video, audio, figure, figcaption, canvas, .par, .paragraph, h4, .ui-dialog-buttonset { margin-top: $paragraph-margin; }
p, ol, ul, blockquote, img, table, form, fieldset, pre, iframe, object, embed, video, audio, figure, figcaption, canvas, .par, .paragraph { margin-bottom: $paragraph-margin; }
li { margin-bottom: $paragraph-margin/2; margin-top: $paragraph-margin/2; }
a, a:before a:after, button, button:before, button:after, datalist, input, select, textarea, label, .trans { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transition: .1s; }
a, .underline, .link-underline:focus, .link-underline:hover { text-decoration: underline; }
a, :link { color: $primary-color; }
a:visited { color: lighten($primary-color, 10%); }
a:hover, a:active { background-color: $primary-color; color: #fff; text-decoration: none; text-shadow: none; }
a:active, button:active, input:active + label, input + label:active { }
a:active, button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input:active + label, input + label:active { /*box-shadow: inset 0 0 1em rgba(0, 0, 0, .2);*/ }
button, datalist, input, select, textarea, legend, label, .label { line-height: normal; }
button, datalist, input, select, textarea, .input, .js .js-placeholder .form-label, .cke_contents .cke_wysiwyg_div { border-radius: 0; padding: .75em 1em; text-transform: none; }
button { background-color: $primary-color; color: #fff; font-weight: bold; text-align: center; }
button:hover, button:active { background-color: darken($primary-color, 10%); }
datalist, input, select, textarea, .input, .sp-replacer { background-color: #fff; border: 1px solid #dadada; box-shadow: none; color: $text-color; line-height: normal; }
textarea { min-height: 8em; }
:first-child, .section:first-child { margin-top: 0; }
:last-child, .section:last-child { margin-bottom: 0; }
input:focus { background-color: lighten($quiet-color, 3%); outline: none; }
input[type="file"] { border-width: 0; }
select { height: 37px; }