@keyframes login-annimation {
  from {
    margin-top: -3em;
    opacity: 0;
  }
  to {
    margin-top: -3em;
    opacity: 1;
  }
}

.login {
  padding-top: 5em;
  background-color: #000000;
  animation: login-annimation 2s ease forwards;

  .logo-shapeshifter {
    margin: 2em auto auto;
    width: 250px;
    height: 150px;
    background-image: url('/packages/just/shapeshifter/css/images/logo_just.svg');
    background-size: contain;
    display: block;
  }

  .login {
    background-color: $dark-color;
    opacity: 0;
  }

  .login-header-area {
    background-color: $primary-color;
    padding: 2em 0;
  }
  .login-header {
    text-align: center;
    color: #fff;
    margin: 0;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .login-header:after {
    content: "";
    background-image: url("content-icon.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 32px;
    height: 65px;
    display: inline-block;
    vertical-align: -0.375em;
    margin-left: 0.15em;
  }
  .login-area {
    background-color: #000;
    color: $muted-color;
  }
  .login-area-form {
    max-width: 22em;
    margin: 0 auto;
    padding: 2.222em 0;
    font-size: 18px;
  }
  .login-area-form .separate {
    margin: 5px 0;
  }

  input[type="password"],
  input[type="email"] {
    transition: all 200ms;
    background-color: #000000;
    border: none;
    color: $light-color;
    border-bottom: 1px solid $muted-color;
  }

  input[type="password"]:autofill,
  input[type="email"]:autofill
  {
    background-color: $dark-color !important;
    color: #000 !important;
  }
  input[type=checkbox] { display:none; } /* to hide the checkbox itself */
  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
  }

  input[type=checkbox] + label:before { content: "\f10c"; } /* unchecked icon */
  input[type=checkbox] + label:before { margin-right: 1em; transition: all 300ms; } /* space between checkbox and label */

  input[type=checkbox]:checked + label:before { content: "\f05d"; letter-spacing: 10px; color:#fff; } /* allow space for check mark */
  input[type=checkbox]:checked + label { color:#fff; } /* allow space for check mark */
  input[type=checkbox]:checked + label:before { margin-right: 1.2em; transition: all 300ms; } /* space between checkbox and label */


  input[type="password"]:focus,
  input[type="email"]:focus {
    border-bottom: 1px solid $light-color;
  }

  .forgot-password-action-container {
    text-align: center;
    margin: 2.222em 0;
  }

  .remember-me-box {
    font-size: .8em;
    margin: 1em 0;
    clear: both;
  }

  .buttons-group {
    clear: both;
    text-align: center;
    margin-top:3em;
  }
  .buttons-group .btn:first-child {
    margin-right:1em;
  }

  .btn {
    background-color: $light-color;
    color: $dark-color;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 1em;
    width: 40%;
  }

  .btn.contrast {
    background-color: transparent;
    color: $light-color;
    border: 1px solid $muted-color;
  }
}
