.login { height: 100%; padding: 0; animation: login-animation 1.5s ease forwards; }
.login-area { color: $muted-color; display: table; height: 100%; table-layout: fixed; width: 100%; }
.login-area-heading { margin: 0; padding: 0; }
.login-area-inner { display: table-cell; vertical-align: middle; }
.login-content { margin: auto; max-width: 24rem; }
.login-area-form { font-size: 1.25em; }
.login-checkbox-row { margin-bottom: 1.5rem; margin-top: 1.5rem; }
.login-checkbox-row input { bottom: 0; left: 0; opacity: 0; position: absolute; right: 0; top: 0; }
.login-checkbox-row label { font-size: 0.875rem; }
.login-checkbox-field { border: 1px solid #797979; display: block; float: left; height: 0.875rem; margin-right: 0.5rem; margin-top: 2px; width: 0.875rem; }
.login-checkbox-row input:checked + .login-checkbox-field { background-color: #797979; }
.login-button, .login input { padding: 1rem 1.25rem; }
.login-button:hover, .login-button:focus, .login-button:active { background-color: #555; }
.forgot-password-action-container { text-align: center; margin: 2.222em 0; }

@keyframes login-animation {
  0% {
    margin-top: -3em;
    opacity: 0;
  }
  50% {
    margin-top: -3em;
    opacity: 0;
  }
  100% {
    margin-top: 0em;
    opacity: 1;
  }
}
