html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, datalist, input, select, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, bdi, canvas, details, dialog, figcaption, figure, footer, header, hgroup, main, mark, menu, menuitem, meter, nav, output, picture, progress, rp, rt, ruby, section, summary, svg, time, track, video, wbr, :before, :after, ::before, ::after { background-color: transparent; background-position: center; background-repeat: no-repeat; background-size: contain; border: 0; border-color: $text-color; border-style: solid; box-sizing: border-box; color: inherit; column-gap: 0; float: none; font: inherit; margin: 0; padding: 0; position: relative; text-align: inherit; vertical-align: baseline; white-space: inherit; }
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, datalist, input, select, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, dialog, figcaption, figure, footer, header, hgroup, main, menu, menuitem, meter, nav, output, picture, progress, rp, rt, ruby, section, summary, svg, track, video { vertical-align: top; }
html, button, datalist, input, select, textarea { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;/* font-smoothing: antialiased; text-rendering: optimizeLegibility;*/ }
html { /*-moz-font-feature-settings: "liga=1, dlig=1"; -ms-font-feature-settings: "liga", "dlig"; -webkit-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig";*/ height: 100%; overflow-y: scroll; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;/* text-size-adjust: 100%;*/ word-wrap: break-word; }
table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; width: 100%; }
th { font-weight: bold; text-align: left; }
blockquote, q { font-style: italic; quotes: "“" "”" "‘" "’"; }
blockquote:before, q:before, blockquote::before, q::before { content: open-quote; }
blockquote:after, q:after, blockquote::after, q::after { content: close-quote; }
pre, code, kbd, samp, button, datalist, input, select, textarea { font-size: 1em; }
pre, code, kbd, samp { font-family: monospace, monospace; }
strong, b, legend, optgroup, dt { font-weight: bold; }
em, i, dfn, span[lang] { font-style: italic; }
u { text-decoration: none; }
template, [hidden] { display: none; }
img, video, object, iframe, legend, datalist, select, textarea, label, article, aside, audio, canvas, details, dialog, figcaption, figure, footer, header, hgroup, main, menu, menuitem, meter, nav, output, picture, progress, rp, rt, ruby, section, summary, svg, track, video { display: block; }
img, video, object, iframe { max-width: 100%; }
img, video { height: auto; width: auto; }
ol, ul { list-style-position: outside; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
sub, sup { font-size: 75%; line-height: 0; }
sub { bottom: -.25em; }
sup { top: -.5em; }
textarea { overflow: auto; resize: vertical; }
button, input[type="checkbox"], input[type="file"], input[type="radio"], input[type="reset"], label, select, a { cursor: pointer; }
button, html input[type="button"] { -webkit-appearance: button; background-image: none; display: inline-block; width: auto; }
button[disabled], input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border-width: 0; padding: 0; }
datalist, input, select, textarea, fieldset, legend { width: 100%; }
input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"] { -moz-appearance: none; -webkit-appearance: none; } /* remove mobile input shadow */
input[type="checkbox"], input[type="radio"], input[type="checkbox"]:focus, input[type="radio"]:focus { background-color: transparent; border-width: 0; box-shadow: none; padding: 0; width: auto; }
input[type="search"] { -webkit-appearance: textfield; padding-right: 0; }
input::-webkit-search-decoration/*, input::-webkit-search-cancel-button*/ { display: none; }
select { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
:focus, :active { transition: none; }
:active { outline: none; }
