$text-color: #222;
$primary-color: #222;
$secondary-color: #222;
$tertiary-color: #e6e6e6;
$quiet-color: #e6e6e6;

$base: 14;

$page-margin: 2.75rem;
$paragraph-margin: 1.375em;
$col-margin: $paragraph-margin/2;
$col-padding: $paragraph-margin/2;
$button-padding: 1em;

$light-color: #e4e4e4;
$muted-color: #797979;
$dark-color: #3e3e3e;
