@import "utils";
@import "variables";
@import "normalize";
@import "datepicker";
@import "base";
@import "default-classes";

.top { padding-bottom: 1.5em; padding-top: 1.5em; }
.content { margin-right: auto; margin-left: auto; max-width: 60em; }
.content-alt { margin-left: -1.5em; margin-right: -1.5em; }
.quiet { font-size: 90%; color: #838383; }
.loader { display: block; position: relative; }
.loader:after { background-repeat: no-repeat; background-position: center; background-size: 100%; content: ""; display: block; height: 16px; left: 50%; margin: -8px 0 0 -8px; position: absolute; top: 50%; width: 16px; }

.menu-nav { margin: 0; opacity: 1; position: absolute; right: 0; top: 0; z-index: 102; }
.js .menu-nav { position: fixed; }
.menu-nav-button { display: inline-block; overflow: hidden; padding: 1.143em; text-decoration: none; vertical-align: top; }
.menu-nav-button:focus, .menu-nav-button:hover, .menu-nav-button:active, .breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:focus, .breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:hover, .breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:active { background-color: rgba(255, 255, 255, .25); color: #fff; }
.menu-nav-button:before { background-size: 100%; background-image: url('menu.png'); background-position: center; background-repeat: no-repeat; content: ""; display: block; height: 15px; overflow: hidden; width: 21px; }

.content-wrapper { display: table; position: relative; table-layout: fixed; width: 100%; }
.main-content { display: table; padding-bottom: 6em; padding-top: 3.429em; table-layout: fixed; width: 100%; }
.content-body { position: relative; }
.content-body, .form-group-content, .alert, .system-account, .controls-content, .table-header, .table-cell { padding-right: 1.5em; }
.content-body, .form-group-content, .alert, .system-account, .controls-content, .table-header:first-child, .table-cell:first-child { padding-left: 1.5em; }
.data-wrapper { overflow: hidden; }

.controls { bottom: 0; min-height: 3.15em; left: 0; overflow: hidden; position: fixed; right: 0; }
.control-list { margin: 0; }
.control-item { display: inline-block; vertical-align: top; margin: 0 .5em 0 0; }
.control-item:last-child { margin-right: 0; }
.control-item-button { margin: -.65em 0; }

.tricon { background-color: transparent; border-radius: 4px; cursor: move; display: inline-block; margin: -7px; padding: 7px; vertical-align: top; }
.tricon:focus, .tricon:hover, .tricon:active { background-color: rgba(0, 0, 0, .125); }
.tricon:before { background-image: url("tricon.png", true); content: ""; display: inline-block; height: 18px; opacity: 0.25; vertical-align: top; width: 22px; }

.note { color: #838383; font-size: .875em; }
.note, .note:first-child, .note:last-child { margin: .75em 0 0; }

.btn { border: 1px solid transparent; display: inline-block; font-weight: bold; line-height: normal; padding: .65em .75em; text-align: center; text-decoration: none; vertical-align: top; }
.btn:focus, .btn:hover, .btn:active {  }
.btn[disabled], .btn[disabled]:focus, .btn[disabled]:hover, .btn[disabled]:active { background-color: #aaa; border-color: #aaa; box-shadow: none; color: #d6d6d6; }
.btn-default { background-color: $primary-color; color: #fff; }
.btn-default:visited, .btn-preview:visited { color: #fff; color: rgba(255, 255, 255, .7); }
.btn-default:focus, .btn-default:hover, .btn-default:active { background-color: lighten($primary-color, 30%); border-color: lighten($primary-color, 30%); }
.btn-light { background-color: lighten($primary-color, 40%); border-color: lighten($primary-color, 40%); color: #fff!important; }
.btn-alt { background-color: #fff; }
.btn-quiet { background-color: $tertiary-color; color: $primary-color; border-color: $tertiary-color; }
.btn-quiet:focus, .btn-quiet:hover, .btn-quiet:active, .btn-light:focus, .btn-light:hover, .btn-light:active { background-color: $primary-color!important; color: #fff !important; border-color: $primary-color; }
.btn-cancel { background-color: transparent; border-color: transparent; text-decoration: underline; }
.btn-cancel:focus, .btn-cancel:hover, .btn-cancel:active { background-color: $tertiary-color; border-color: $tertiary-color; color: $primary-color; text-decoration: none; }
.btn-tricon { background-image: url("tricon.png"); background-repeat: no-repeat; background-position: 1.15em center; padding-left: 3.9em; }
.btn-remove { background-color: #900; border-color: transparent; color: #fff; }
.btn-remove:focus, .btn-remove:hover, .btn-remove:active { background-color: #700000; }
.btn-remove-alt { opacity: 0; }
.media-preview:hover .btn-remove-alt { opacity: 1; }
.btn-preview { background-clip: padding-box; background-color: rgba(0, 0, 0, .45); border-color: rgba(0, 0, 0, .45); color: #fff; }
.btn-preview:focus, .btn-preview:hover, .btn-preview:active { background-color: rgba(0, 0, 0, .55); border-color: rgba(0, 0, 0, .55); }

.form-group-content, .alert, .header-top, .controls-content { padding-bottom: $button-padding; padding-top: $button-padding; }
.form-group, .alert { margin-left: -1.5em; margin-right: -1.5em; }
.form-group { background-color: #f2f2f2; }
.form-group { display: block; margin-bottom: 1px; margin-top: 1px; position: relative; }
.form-group-options { background-color: transparent; margin-bottom: $paragraph-margin*2; margin-top: $paragraph-margin*2; overflow: hidden; }
.form-group-options-content { padding-bottom: 0; padding-top: 0; }
.form-group-highlight { bottom: 0; left: 0; position: absolute; right: 0; top: 0; z-index: 1; }
.form-group:first-child { margin-top: 0; }
.form-group:last-child { margin-bottom: 0; }
.form-group-content { align-items: center; display: flex; position: relative; }
.form-group-content:before, .form-group-content:after { content: " "; display: table; }
.form-group-content:after { clear: both; }
.form-label, .form-legend, .form-field { display: block; }
.form-label { margin-bottom: .5em; position: relative; z-index: 2; }
.form-legend { font-weight: bold; margin-bottom: $button-padding; }
.form-options { margin-left: -1.5em; margin-right: -1.5em; }
.form-options-content { margin: -1px -.5px; }
.form-option { display: inline-block; margin: 1px 0; padding: 0 .5px; position: relative; vertical-align: top; width: 100%; }
.form-option-dependency { position: relative; }
.form-option-dependency .form-option-field { display: none; }
.form-option-dependency .form-option-label { padding-left: 1em; }
.form-option-dependency .form-option-label:after { bottom: 0; content: "▶"; line-height: 1.9; position: absolute; right: 0; text-align: center; top: 50%; transform: translateY(-50%); vertical-align: middle; width: 1.5em; }

@include respond-min-width(45em) {
	.form-option-grid-2, .form-option-grid-3 { width: 50%; }
}
@include respond-min-width(55em) {
	.form-option-grid-3 { width: 33.333%; }
}
@include respond-min-width(60em) {
	.form-option-grid-3 { width: 50%; }
}
@include respond-min-width(75em) {
	.form-option-grid-3 { width: 33.333%; }
}
.form-option-label { background-color: #e3e3e3; float: none !important; padding: $button-padding 1.5em $button-padding 3em; }
.form-option-field { float: none; left: 1.5em; margin: 0 !important; position: absolute; top: 1.15em; }
.form-control { display: block; margin: -.825em 0; }
.form-control-table { display: table; table-layout: fixed; width: 100%; }
.form-control-cell { display: table-cell; vertical-align: top; width: 50%; }
.form-field-short, .form-field-medium { min-width: 11em; width: 50%; }
.form-field-content, .form-single-checkbox { position: relative; z-index: 2; }
.form-single-checkbox { float: none !important; }
.form-label-checkbox { float: left; margin: 0; }
.form-field-checkbox { float: right; }
.form-single-checkbox:not(:checked), .form-single-checkbox:checked { position: absolute; opacity: 0; }
.switch { box-sizing: content-box; }
.form-single-checkbox.switch + .switch { background-color: #fff; border: 1px solid #dadada; border-radius: 9999em; display: block; font-size: 1.8em; height: 1.05em; margin: -.25em 0; overflow: hidden; transition-duration: .4s; transition-property: padding, width; width: 1.8em; }
.form-single-checkbox.switch:checked + .switch { background-color: #529948; border-color: #529948; padding-left: .8em; width: 1em; }
.form-single-checkbox.switch + .switch:before { background: #fff; border: 1px solid #dadada; border-radius: inherit; box-shadow: 0 0 .5em rgba(0, 0, 0, .125); content: ""; display: block; height: 1.05em; margin: -1px; width: 1em; }
.form-single-checkbox.switch:active + .switch:before { box-shadow: inset 0 0 .25em rgba(0, 0, 0, .2); }
label.form-group:hover, .form-field-content:focus + .form-group-highlight, .single-checkbox:focus + .form-group-highlight, .form-single-checkbox:checked + .form-group-highlight, .form-option-label:focus, .form-option-label:hover, .form-option-label:active, .form-option-field:hover + .form-option-label, .form-option-field:focus + .form-option-label, .form-option-field:checked + .form-option-label { background-color: #d5d5d5; }
.form-option-field:checked:focus + .form-option-label, .form-option-field:checked:hover + .form-option-label, .form-option-field:checked:active + .form-option-label, .form-option-field:checked + .form-option-label:hover, .form-option-field:checked + .form-option-label:active { background-color: #c4c4c4; }

.tab-list { border-bottom: 1px solid #f2f2f2; list-style: none; margin-top: $paragraph-margin*2; }
.tab-list-item { float: left; font-weight: bold; margin: 0; }
.tab-list-item-button { border-color: #f2f2f2; border-width: 0 1px 0 0; display: block; padding: 1em 1.5rem; text-decoration: none; }
.tab-list-item-button:focus, .tab-list-item-button:hover, .tab-list-item-button:active { background-color: #ddd; color: $primary-color; }
.tab-list-item-button-active { background-color: #f2f2f2; }

.add-item { float: left; }
.add-item-button { margin: 0 -.75em; }
.filter-search { float: right; max-width: 12em; position: relative; }
.search-control { background-color: lighten($tertiary-color, 5%); }
.search-pagination .search-control { position: relative; right: 3em; }
.search-button { display: none; height: $page-margin; width: $page-margin; position: absolute; top: 0; right: 0; margin: 0; overflow: hidden; text-indent: 100%; white-space: nowrap; background-color: transparent; background-image: url("search.png"); background-repeat: no-repeat; background-position: center; }
.search-pagination .search-button { display: block; }
.search-button:hover, .search-button:focus, .search-button:active { background-color: transparent; }

.table-row { border-bottom: 1px solid transparent; transition: .1s; }
.table-row:nth-child(odd) { background-color: #f2f2f2; }
.table-row.ui-sortable-helper .table-control-remove-button { display: none; }
.table-row-editable { cursor: pointer; }
.table-row-editable:hover { background-color: #ddd; }
.table-row.ui-sortable-placeholder td { padding-top: $paragraph-margin; padding-bottom: $paragraph-margin; }
.table-cell, .table-header { display: none; padding-top: $paragraph-margin; padding-bottom: $paragraph-margin; }
.table-order, .table-control { display: table-cell; }
.table-cell:nth-child(-n+2), .table-header:nth-child(-n+2) { display: table-cell; }​
.table-header.sorting, .table-header-sort-item-active-asc, .table-header-sort-item-active-desc { cursor: pointer; }
.table-header.sorting:hover, .table-header-sort-item-active-asc:hover, .table-header-sort-item-active-desc:hover  { background-color: #ddd; }
.table-header.sorting.table-order, .table-header.sorting.table-control, .table-header.table-order.table-header-sort-item-active-asc, .table-header.table-order.table-header-sort-item-active-desc, .table-header.table-control.table-header-sort-item-active-asc, .table-header.table-control.table-header-sort-item-active-desc, .table-header.sorting.table-order:hover, .table-header.sorting.table-control:hover { background-color: transparent; cursor: auto; }
.table-header-sort { margin-right: .25em; position: absolute; right: 100%; top: 0; }
.table-header-sort-item { display: block; font-size: 10px; line-height: 1; opacity: .25; }
.table-header-sort-item:before { display: inline-block; vertical-align: top; }
.table-header-sort-item-asc:before { content: "▲"; }
.table-header-sort-item-desc:before { content: "▼"; }
.table-header-sort-item-active-asc .table-header-sort-item-asc, .table-header-sort-item-active-desc .table-header-sort-item-desc { opacity: 1; }
.table-order { display: none; width: 22px; }
.js .table-order { display: table-cell; }
.table-control { position: relative; padding: 0 !important; width: 1px; }
.table-control-content { height: 100%; left: 100%; margin: 0; position: absolute; top: 0; width: 4.071em; }
.table-control-list { display: none; margin: 0; }
.table-control-item { margin: 0; display: inline-block; vertical-align: top; margin-right: .15em; }
.table-control-remove-button { bottom: 0; height: 4.071em; left: 0; margin: 0; overflow: hidden; padding: 0 !important; position: absolute; text-indent: 100%; top: 0; white-space: nowrap; width: 100%; }
.table-control-remove-button:before { content: "\00D7"; display: block; font-weight: normal; font-size: 30px; left: 50%; line-height: 1; position: absolute; text-indent: 0; top: 50%; transform: translate(-50%, -57%); }
.table-control-active { transform: translate(-4.071em, 0); }

.mini-gallery, .mini-gallery > fieldset { position: static; }
.mini-gallery-list { display: block; margin: -1px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow: auto; }
.mini-gallery-list-item { display: inline-block; margin: 1px 0; vertical-align: top; width: 20%; }
.mini-gallery-list-item-content { display: block; margin: 0 1px; }
.mini-gallery-list-item-content-inner { display: block; font-weight: bold; padding-bottom: 100%; position: relative; z-index: 0; }
.mini-gallery-add { background-color: $primary-color; }
.mini-gallery-add:after { content: "+"; color: #fff; font-size: 34px; font-weight: bold; height: 45px; position: absolute; left: 50%; top: 50%; transform: translateY(-54%) translateX(-50%); }
.mini-gallery-add-button { opacity: 0; }
.mini-gallery-add-button::-webkit-file-upload-button { visibility: hidden; }
.mini-gallery-thumb-button { background-color: #fff; border: 1px solid #dadada; position: absolute; }
.mini-gallery-thumb-button:after { background-image: url("ajax-loader-2.gif"); }
.mini-gallery-thumb { z-index: 10; }
.mini-gallery-input { z-index: -1; }
.mini-gallery-input:checked + .mini-gallery-thumb-button { border-color: #999; }

.sortable-dragging { table-layout: fixed; }
.sortable-dragging .table-control-content { display: none; }
.sortable-dragging .table-row { border-color: #f2f2f2; }
.sortable-dragging .table-row:nth-child(odd) { background-color: transparent; }
.sortable-dragging .ui-sortable-helper, .sortable-dragging .ui-sortable-helper:nth-child(odd) { background-color: #ddd; }
.sortable { margin: 0; }
.sortable li { margin: 0; }
.sortable-item { transition: .3s; padding-top: $paragraph-margin; padding-bottom: $paragraph-margin; position: relative; background-image: url("tricon.png"); background-repeat: no-repeat; background-position: 97.5% center; }
.sortable-item:active { outline: 1px solid $primary-color; }
.sortable ul, .sortable ul ul { margin-left: 1.5em; margin-right: 1.5em; margin-top: 0; margin-bottom: 0; list-style: none; list-style-image: none; }
.sortable-item:before { content: ""; background-image: url("triangle-arrow.png"); background-repeat: no-repeat; background-position: center center; display: block; width: 7px; height: 11px; position: absolute; top: 50%; left: 1.45em; margin-top: -5px; }
.sortable-item.open:before { content: ""; background-image: url("triangle-arrow-down.png"); width: 11px; height: 7px; margin-top: -3px; }
.sortable-placeholder { outline: 1px dashed $primary-color; }

.media-wrapper { display: block; }
.media-wrapper-content { display: block; padding-bottom: 100%; position: relative; }
.media-wrapper-content-wrapper { background-color: #fff; border: 1px solid #ddd; bottom: 0; left: 0; padding: 1em; position: absolute; right: 0; top: 0; }
.media-wrapper-content-wrapper-inner { background-size: contain; bottom: 1em; left: 1em; position: absolute; right: 1em; top: 1em; }

.media-placeholder { display: table; height: 100%; table-layout: fixed; width: 100%; }
.media-placeholder-content { display: table-cell; height: 100%; vertical-align: middle; width: 100%; }

.module-1 { display: block; padding-right: 9px; }
.module-2 { display: block; padding-left: 9px; }

.video-preview {  }
.video-preview-loader { background-image: url("ajax-loader.gif"); margin: $paragraph-margin auto; }

.messages {  }
.alert { font-weight: bold; margin-bottom: 1px; margin-top: 1px; }
.alert-info { background-color: #ccc; color: $primary-color; }
.alert-success { background-color: #529948; color: #fff; margin: 0; position: relative; top: 0; transition: top .5s; }
.js .controls .alert-success { top: 3.15em; }
.js .controls .alert-success-active { top: 0; }
.alert-warning { background-color: #d76e19; color: #fff; }
.alert-error { background-color: #a31616; color: #fff; }
.alert-danger { background-color: #a31616; color: #fff; }

.header, .header-top, .system-name { color: #fff; }
.header, .header-top { display: none; }
.header { background-color: #222; bottom: 0; right: 0; overflow-y: auto; -webkit-overflow-scrolling: touch; position: fixed; top: 3em; }
.header-top { background-color: $secondary-color; bottom: 0; right: 0; margin: 0; overflow: hidden; position: fixed; }
.header-middle { background-color: $tertiary-color; left: 22.5em; margin: 0; padding: 0; position: fixed; right: 0; top: 0; }
.header-middle .identity { background-image: url("just.png"); background-repeat: no-repeat; background-position: right bottom; padding: 2.15em 0; }
.header-bottom { left: 0; position: fixed; top: 0; z-index: 102; }
.system-name { background-color: $primary-color; font-weight: bold; left: 0; margin: 0; position: fixed; text-align: center; top: 0; white-space: nowrap; width: 100%; z-index: 101; }
.system-name-button { background-color: inherit; color: inherit; display: inline-block; font-size: 1.25em; height: 3rem; line-height: 3rem; padding: 0 1.5rem; text-decoration: none; text-transform: uppercase; vertical-align: top; }
.system-name-button:visited { color: #fff; color: rgba(255, 255, 255, .8); }
.system-name-button:focus, .system-name-button:hover, .system-name-button:active { background-color: #1a1a1a; }
.system-user { margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.system-log { margin: 0; position: absolute; right: 0; top: 0; }
.system-log-button { border-color: $primary-color $primary-color $primary-color #222; border-width: 1px 0 0 1px; color: #fff; display: inline-block; font-weight: bold; line-height: inherit; margin: -1em -1.5em; padding: 1em 1.5em; text-decoration: none; vertical-align: top; }
.system-log-button:after { background-image: url("system-log.png"); background-repeat: no-repeat; background-position: right center; content: ""; display: inline-block; height: 16px; opacity: .7; vertical-align: top; width: 16px; }
.system-log-button:visited { color: #fff; color: rgba(255, 255, 255, .7); }
.system-log-button:focus, .system-log-button:hover, .system-log-button:active { background-color: #222; }
.system-client { font-size: 2.3em; margin: 0; }
.system-client-button { text-decoration: none; }
.system-client-button:focus, .system-client-button:hover, .system-client-button:active { background-color: transparent; text-decoration: underline; }

.breadcrumbs-list { margin: 0; overflow: hidden; white-space: nowrap; }
.breadcrumbs-item { display: none; margin: 0; vertical-align: top; }
.breadcrumbs-item:last-child { font-weight: bold; }
.breadcrumbs-item:last-child .breadcrumbs-link:after { background-image: none; display: none; }
.breadcrumbs-item:nth-last-child(2) { display: inline-block; font-weight: bold; }
.breadcrumbs-item:nth-last-child(2) .breadcrumbs-link { color: #fff; display: block; padding: 1em; text-align: left; }
.breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:before { content: "❮"; margin-right: .5em; }
.breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:after { display: none; }
.breadcrumbs-link { display: inline-block; text-decoration: none; vertical-align: top; }
.breadcrumbs-link:after { content: ""; background-image: url("bc-arrow.png"); background-repeat: no-repeat; background-position: center center; width: 8px; height: 100%; position: absolute; top: 0; right: 0; }

.main-nav { white-space: nowrap; }
.main-nav-list { margin: 0; }
.main-nav-item { border-bottom: 1px solid #2d2d2d; margin: 0; }
.main-nav-item-active { background-color: #2d2d2d; }
.main-nav-link/*, .sub-item-button*/ { color: #fff; display: block; padding: 1em 1.5em; text-decoration: none; }
.main-nav-link:visited { color: #fff; color: rgba(255, 255, 255, .7); }
.main-nav-link:focus, .main-nav-link:hover, .main-nav-link:active { background-color: #1a1a1a; }
.sub-list { margin: 0; padding-bottom: .75em; }
.sub-item { margin: 1px 0; }
.sub-item-button { color: #fff; display: block; padding: .25em 2.5em; padding-left: 3em; text-decoration: none; }
.sub-item-button-active { font-weight: bold; }
.sub-item-button:visited { color: #fff; color: rgba(255, 255, 255, .7); }

.footer { background-color: #dbdbdb; z-index: 10; }
.controls { z-index: 11; }

.pagination-wrap { margin: 1em 0; }
.pagination { list-style-type: none; margin: 0; margin-top: 0.75em; }
.pagination li { display: inline-block; margin: 0; }
.pagination li span, .pagination li a { padding: 0.3em 0.5em; }
.pagination li.active span { background-color: $primary-color; color: #fff; }
.pagination-count { width: auto; float: right; }

.js .header, .js .header-top { display: block; width: 17.5em; z-index: 101; left: 100%; transform: translate3d(0, 0, 0); backface-visibility: hidden; transition: transform .3s ease-in; }
.js .menu-active .header, .js .menu-active .header-top { transform: translate3d(-100%, 0, 0); backface-visibility: hidden; transition: transform .3s ease-out; }
.js .menu-overlay { background-color: $primary-color; position: fixed; top: 0; bottom: 0; left: 100%; right: 0; z-index: 100; opacity: 0; transform: translate3d(0, 0, 0); backface-visibility: hidden; transition: opacity .3s ease-in, left 0s ease-in .3s; }
.js .menu-active .menu-overlay, .js .menu-overlay.active { left: 0; opacity: .7; backface-visibility: hidden; transition: opacity .3s ease-out; }

.js .login { transition: none; }

.js.touch .dataTables_wrapper { overflow: hidden; }

.js-multiplefileattribute-form { margin: 0; padding: 0; }
.js-multiplefileattribute-draginput-wrap { display: none; border: 5px solid #999; }
.js-multiplefileattribute-draginput-wrap.active { display: block; z-index: 999; }

@include respond-min-width(30em) {
	.js .js-placeholder.form-group-ckeditor .form-label { display: none; }
	.js .js-placeholder .form-label { border: 1px solid transparent; bottom: 0; color: #888 !important; cursor: text; left: 0; margin: 0; position: absolute; right: 0; top: 0; z-index: 10; }
	.js .js-placeholder.focus .form-label { color: #666; }
	.js .js-placeholder.active .form-label { display: none; }
}

@import "login";


@include respond-min-width(30em) {
	.main-content { padding-top: 0; }
	.header-bottom { background-color: #f2f2f2; border-bottom: 1px solid $tertiary-color; display: table-caption; padding-top: 3.357em; position: static; width: 100%; }
	.breadcrumbs-item { display: inline-block; }
	.breadcrumbs-item:nth-last-child(2) { display: inline-block; font-weight: normal; }
	.breadcrumbs-item:nth-last-child(2) .breadcrumbs-link { color: inherit; display: inline-block; padding: 1rem 1.3em; padding-right: 1.75em; text-align: center; }
	.breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:before { display: none; }
	.breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:after { display: inline-block; }
	.breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:focus, .breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:hover, .breadcrumbs-item:nth-last-child(2) .breadcrumbs-link:active { background-color: transparent; color: inherit; }
	.breadcrumbs-item:first-child .breadcrumbs-link { background-image: url("home.png"); background-repeat: no-repeat; background-position: 1.5rem center; padding-left: 1.5rem; padding-right: 2em; text-indent: -9999em; width: 15px; }
	.breadcrumbs-link { color: inherit; font-size: .875em; line-height: 1rem; padding: 1rem .85em; padding-right: 1.75em; position: relative; text-align: center; }
}
@include respond-min-width(40em) {
	body { background-color: #ebebeb; }
	h1, .title { font-size: 3.5em; }
	h1, .onetomany-relation-content h1 { margin: -$page-margin 0 0; padding: $page-margin 0; }
	.onetomany-relation-content h1 { margin-bottom: .75em; margin-top: 0; padding: 0; }
	.table-header, .table-cell { display: table-cell; padding-left: 1.375em; padding-right: 1.375em; }
	.page, .controls-content { padding-left: 4.071em; padding-right: 4.071em; }
	.touch .page { padding-left: 0; padding-right: 0; }
	.main-content { padding-bottom: 7em; }
	.content-body { background-color: #fff; border-color: #ddd; border-width: 0 1px; }
	.content-body, .form-group-content, .alert, /*.controls-content, */.tab-list-item-button, .table-header-last, .table-cell-last { padding-right: $page-margin; }
	.content-body, .form-group-content, .alert, /*.controls-content, */.tab-list-item-button, .table-header:first-child, .table-cell:first-child { padding-left: $page-margin; }
	.content-body { padding-bottom: $page-margin; padding-top: $page-margin; }
	.data-wrapper { overflow: visible; }
	.table-control-remove-button { opacity: 0; }
	.touch .table-control-remove-button, .table-row-deletable:hover .table-control-remove-button { opacity: 1; }
	.tab-list-item { font-size: 1.5em; }
	.form-label, .js .js-placeholder .form-label { padding-right: 2em; }
	.js .js-placeholder .form-label { border: none; color: inherit !important; cursor: pointer; display: block !important; padding-bottom: 0; padding-left: 0; padding-top: 0; position: relative; }
	.form-group, .alert, .content-alt, .form-options { margin-right: -$page-margin; }
	.form-group, .alert, .content-alt { margin-left: -$page-margin; }
	.form-group-content, .alert { padding-bottom: $button-padding; padding-top: $button-padding; }
	.form-group { background-color: #f2f2f2; margin-bottom: 1px; margin-top: 1px; }
	.form-legend { font-weight: normal; }
	.form-label { float: left; margin-bottom: 0; width: 33.333%; }
	.form-field { float: right; width: 66.667%; }
	.form-field-short { min-width: 0; width: 25%; }
	.form-options { margin-bottom: -$button-padding; margin-left: 0; margin-top: -$button-padding; padding-left: 0; padding-right: 0; }
	.form-option-control { padding-left: 1em; padding-right: 1em; }
	.form-option-label { padding: $button-padding $page-margin $button-padding 2.5em; }
	.form-option-dependency .form-option-label:after { width: $page-margin; }
	.form-option-field { left: 1em; }
	.form-control:not(:only-child) { margin-bottom: 0; }
	.alert-success { margin: 0; padding-left: 1.5em; padding-right: 1.5em; }
	.sortable-handle { padding-right: $page-margin; }
	.add-item-button { margin: 0 -1.25em; }
	.filter-search { margin-top: 5px; }
	.btn { padding: $button-padding/1.375 $button-padding; }
	.control-item-button { margin: -.8em 0; }
}
@include respond-min-width(50em) {
	.record-title { padding-right: 15rem; }
	.record-updated { position: absolute; right: $page-margin; top: 70px; }
}
@include respond-min-width(60em) {
	.menu-nav { opacity: 0; }
	.main-content { display: block; padding-left: 17.5em; width: auto; }
	.header-bottom, .controls { left: 17.5em; }
	.header-bottom { left: 17.5em; padding: 0; position: fixed; right: 0; top: 0; width: auto; z-index: 10; }
	.header-top { right: auto; }
	.header, .js .header, .header-top, .js .header-top, .system-name { display: block; width: 17.5em; left: 0; transition: none; }
	.js .menu-overlay { display: none; }
	.system-name { text-align: left; }
	.system-name-button { border-bottom: 1px solid $primary-color; display: block; font-size: 1.35rem; }
}
@include respond-min-width(67.5em) {
	.main-content { padding-left: 22.5em; }
	.header-bottom, .controls { left: 22.5em; }
	.header, .js .header, .header-top, .js .header-top, .system-name { width: 22.5em; }
}
@include respond-min-width(79.375em) {
	.controls-content { padding-left: 0; padding-right: 0; }
}

.js .js-datatable { display: none; table-layout: auto; }
.js .js-datatable.dataTable { display: table; }
.js .ckeditor { height: 244px; visibility: hidden; }

.login-area-form .alert { margin-left: 0; margin-right: 0; padding: .65em .75em; }

.lightbox { bottom: 0; left: 0; position: absolute; right: 0; top: 0; width: 100%; z-index: 9999; }
.lightbox-overlay { background-color: $primary-color; height: 100%; left: 0; opacity: .9; position: fixed; top: 0; width: 100%; z-index: 9999; }

.section-main { margin-bottom: $paragraph-margin*6; margin-top: $paragraph-margin*6; }
.section-sub { margin-bottom: $paragraph-margin*3; }
.section-sub, .tab-pane > .section-sub:first-child { margin-top: $paragraph-margin*3; }
.tab-section { padding-top: $paragraph-margin*3; }
.section-row { margin-bottom: 1px; margin-top: 1px; }
.section-start { margin-top: 0; }
.section-end { margin-bottom: 0; }

.js .js-hide, .js .js-remove, .hide { display: none; }
.js .js-cover { visibility: hidden; }
.js .js-transparent { opacity: 0; }

@import "print";

