.inline { display: inline; }
.inline-block { display: inline-block; vertical-align: top; }
.list { list-style: none; list-style-image: none; padding-left: 0; }
.accessibility, .js .js-accessibility, .ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
.accessibility:focus, .accessibility:active { clip: auto; height: auto; overflow: visible; position: fixed; width: auto; }
.group:before, .group:after { content: " "; display: table; }
.group:after { clear: both; }
.container { position: relative; }
.wrapper { margin-left: auto; margin-right: auto; }
.wrap { overflow: hidden; }
.link-alt:focus, .link-alt:hover { background-color: transparent; }
.link-alt:active { @include box-shadow(none); }
.normal { font-weight: normal; }
.heading { text-transform: uppercase; }
.heading-alt { text-transform: lowercase; }
.row { white-space: nowrap; }
.center { text-align: center; }
.item { float: left; }
.item-alt { float: right; }
.item-start { clear: both; }
.fill { @include box-sizing(border-box); bottom: 0; height: 100%; left: 0; margin: 0; padding: 0; position: absolute; right: 0; top: 0; width: 100%; }
.number::-webkit-outer-spin-button, .number::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.video { background-color: #000; display: block; padding-bottom: 56.25%; position: relative; }
.video iframe, .video object, .video embed { height: 100%; left: 0; margin: 0; position: absolute; top: 0; width: 100%; }
.fb_iframe_widget, .fb_iframe_widget span { display: block !important; }
.fb_iframe_widget span { width: auto !important; }
.fb_iframe_widget iframe { width: 100% !important; }
.fb_ltr, .fb_iframe_widget_lift { margin: 0; max-width: none; }