fieldset { padding: 0; margin: 0; border: 0; min-width: 0; }
legend { display: block; width: 100%; padding: 0; margin-bottom: 1.5em; font-size: ($base * 1.5); line-height: inherit; color: $text-color; border: 0; border-bottom: 1px solid #ccc; }
input[type="search"] { @include box-sizing(border-box); }
input[type="radio"], input[type="checkbox"] { margin: 3px 0 0; margin-top: 2px \9; /* IE8-9 */ line-height: normal; }
input[type="file"] { display: block; background-color: transparent; }
input[type="range"] { display: block; width: 100% }
select[multiple], select[size] { height: auto; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { border-color: #000; }

.form { border-top: 1px solid #e6e6e6; }
.form-group.error { background-color: red; }
.form-group { border-bottom: 1px solid #e6e6e6; padding: .35em 0; }
.form-group label, .form-group .label { margin-top: .75em; display: inline-block; }
.form-field { background-color: $tertiary-color; height: 8em; border-bottom: .35em solid #fff; padding: $col-padding; }
.form-field:last-child { border: 0; }
.form-control { display: block; width: 100%; padding: .5em .75em; font-size: 1em; line-height: 1.5; color: $text-color; background-color: #fff; background-image: none; border: 1px solid #e6e6e6;
  @include box-shadow(inset 0 2px 0 rgba(0,0,0,.085));
  @include form-control-focus();@include placeholder();
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: #ccc;
    opacity: 1; // iOS fix for unreadable disabled content
  }
}
.form-control.search-control { background-color: lighten($tertiary-color, 5%); }
textarea.form-control { height: auto }
.radio, .checkbox {
  display: block;
  margin-top: .875em;
  margin-bottom: .875em;
  // padding-left: 1.25em;
  label {
    display: inline;
    font-weight: normal;
    cursor: pointer;
  }
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { float: left; margin-right: 1em; }
.radio + .radio, .checkbox + .checkbox { margin-top: -.475em!important; }
.radio-inline, .checkbox-inline { display: inline-block; padding-left: 1.25em; margin-bottom: 0; vertical-align: middle; font-weight: normal; cursor: pointer }
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline { margin-top: 0; margin-left: 1.25em; }
input[type="radio"],
input[type="checkbox"],
.radio, .radio-inline, .checkbox, .checkbox-inline {
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}
.form-control-static { margin-bottom: 0; }
.form-inline {
    @include respond-min-width(em(768)){
      .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle }
      .form-control { display: inline-block; width: auto;  vertical-align: middle }
      .control-label { margin-bottom: 0; vertical-align: middle }
      .radio, .checkbox { display: inline-block; margin-top: 0; margin-bottom: 0; padding-left: 0; vertical-align: middle }
      .radio input[type="radio"], .checkbox input[type="checkbox"] { float: none; margin-left: 0; }
      .has-feedback .form-control-feedback { top: 0; }
    }
}
.form-horizontal {
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em 0;
  }
  .radio,
  .checkbox {
    min-height: 1em;
  }
  .form-group:before, .form-group:after { content: " "; display: table; }
  .form-group:after { clear: both; }

  .form-control-static {
    padding-top: 1em;
  }
  @include respond-min-width(em(768)) {
    .control-label { text-align: right; }
  }
}
@include respond-min-width(em(768)) {
    .form-group { padding-left: 2.75em; }
    .form-field { border-bottom: none; border-right: .35em solid #fff; }
}

select { margin: .5em 0; border: 1px solid #e6e6e6; }

.login-header-area { background-color: $primary-color; padding: 6.85em 0 4.35em; }
.login-header {text-align: center; color: #fff; margin: 0; text-decoration: underline; text-transform: uppercase; }

.login-header:after { content: ""; background-image: inline-image("/css/images/content-icon.png"); background-repeat: no-repeat; background-position: right center; width: 32px; height: 65px; display: inline-block; vertical-align: -0.375em; margin-left: 0.15em; }
.login-area { background-color: $tertiary-color; }
.login-area-form { max-width: 22em; margin: 0 auto; padding: 2.222em 0; font-size: 18px;}
.login-area-form .separate { margin-bottom: 5px; }
.login-area-form .form-control { padding: .85em 1.3em; border: 2px solid rgba(0,0,0,.18); @include box-shadow(inset 0 2px 0 rgba(0,0,0,.18)); }
.forgot-password-action-container { text-align: center; margin: 2.222em 0; }
