$text-color: #000;
$primary-color: #000;
$secondary-color: #000;
$tertiary-color: #e6e6e6;

$base: 14;

$paragraph-margin: 1.375em;
$col-margin: $paragraph-margin/2;
$col-padding: $paragraph-margin/2;

