@import "compass/css3";
@import "utils";
@import "variables";
@import "fonts";
@import "normalize";
@import "datepicker";
// @import "jqtree";
@import "transitions";

html, button, datalist, input, select, textarea, .text-base, .link-text-base:focus, .link-text-base:hover, .link-text-base:active { color: $text-color; }
html, .base { font-family: Helvetica Neue, Arial, sans-serif; }
html, .text { line-height: 1.375; }
html { font-size: globalPerc($base); }
body { background-color: #fff; position: relative; }
h1, h2, h3, h4, h5, h6, .accent { font-weight: bold; }
h1, .title { font-size: 3em; line-height: 1; margin-bottom: .65em; margin-top: .65em; }
h2, .title-sub, .onetomany-relation-content h1 { font-size: 2em; line-height: 1.1; margin-bottom: 1em; margin-top: 2em; }
h2:first-child, h3:first-child, p:first-child, /*ul:first-child, ol:first-child, li:first-child, */blockquote:first-child, img:first-child, form:first-child, fieldset:first-child, pre:first-child, .section:first-child, h2 + h3, h2 + p, h3 + p, legend + p { margin-top: 0; }
h2:last-child, h3:last-child, p:last-child, /*ul:last-child, ol:last-child, li:last-child, */blockquote:last-child, img:last-child, form:last-child, fieldset:last-child, pre:last-child, .section:last-child { margin-bottom: 0; }
p, ul, ol, li, blockquote, img, table, form, fieldset, pre, iframe, object, embed, video, audio, figure, canvas, .paragraph, h3, .ui-dialog-buttonset { margin-top: $paragraph-margin; }
p, ul, ol, li, blockquote, img, table, form, fieldset, pre, iframe, object, embed, video, audio, figure, canvas, .paragraph { margin-bottom: $paragraph-margin; }
a, button, datalist, input, select, textarea, label, .trans { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); tap-highlight-color: rgba(0, 0, 0, 0); @include transition(compact(background-color, border-color, box-shadow, color, opacity, outline, .1s)); }
a, .underline, .link-underline:focus, .link-underline:hover { text-decoration: underline; }
a { color: $primary-color; }
a:visited { color: lighten($primary-color, 20%); }
a:focus, a:hover, a:active { background-color: $primary-color; color: #fff; text-shadow: none; }
a:focus, a:hover, a:active, u, .link { text-decoration: none; }
a:active, button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input:active + label, input + label:active { @include box-shadow(inset 0 0 1em rgba(0, 0, 0, .2)); }
datalist, input, select, textarea, .input, .sp-replacer { background-color: #f2f2f2; border: 1px solid #dadada; @include box-shadow(none); color: $text-color; line-height: normal; }
datalist, input, select, textarea, .input { padding: .75em 1em; @include placeholder(); }
/*datalist:focus, input:focus, select:focus, textarea:focus, ul.token-input-list-facebook.token-input-focused-facebook:focus { border-color: #bbb; }*/
input[type="file"] { border-width: 0; }
select { height: 37px; }
button[type="submit"], input[type="button"], input[type="reset"], input[type="submit"] { background-color: $primary-color; color: #fff; font-weight: bold; }
button[type="submit"]:focus, button[type="submit"]:hover, button[type="submit"]:active, input[type="button"]:focus, input[type="button"]:hover, input[type="button"]:active, input[type="reset"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="submit"]:focus, input[type="submit"]:hover, input[type="submit"]:active { background-color: lighten($primary-color, 25%); }
/*::-moz-selection { background-color: rgba(, , , .7); color: #fff; text-shadow: none; }
::selection { background-color: rgba(, , , .7); color: #fff; text-shadow: none; }*/
/*::selection:window-inactive { background-color: ; }*/

@import "default-classes";

.top { padding-bottom: 1.5em; padding-top: 1.5em; }
/*.page { padding-left: 1.5em; padding-right: 1.5em; }*/
.content { margin-right: auto; margin-left: auto; max-width: 60em; }
.content-alt { margin-left: -1.5em; margin-right: -1.5em; }
.grid-row:before, .grid-row:after { content: " "; display: table; }
.grid-row:after { clear: both; }
.menu-nav { left: 1.5em; margin: 0; opacity: 1; position: absolute; top: 1.125em; z-index: 11; }
.js .menu-nav { position: fixed; }
.menu-nav-button { @include border-radius(4px); display: inline-block; margin: -7px; overflow: hidden; padding: 7px; text-decoration: none; vertical-align: top; }
.menu-nav-button:before { @include background-size(100%); background-image: inline-image("public/css/images/menu.png"); background-position: center; background-repeat: no-repeat; content: ""; display: block; height: 15px; overflow: hidden; width: 21px; }
.quiet { font-size: 90%; color: #838383; }

.content-wrapper { display: table; position: relative; table-layout: fixed; width: 100%; }
.main-content { padding-bottom: 1.5em; padding-top: 0; }
.content-body { position: relative; }
.content-body, .form-group, .alert, .system-account, th, td { padding-right: 1.5em; }
.content-body, .form-group, .alert, .system-account, th:first-child, td:first-child { padding-left: 1.5em; }

.control-list { margin-bottom: 0; }
.control-item { display: inline-block; vertical-align: top; margin: 0 .5em 0 0; }
.control-item:last-child { margin: 0; }
.control-item.right-item { float: right; }

.messages {  }
.alert { font-weight: bold; margin: 1px 0; }
.alert-info { background-color: #ccc; color: #000; }
.alert-success { background-color: #1d8b22; color: #fff; position: relative; top: 0; @include transition(compact(top, .5s)); }
.js .alert-success { top: 3.357em; }
.js .alert-success-active { top: 0; }
.alert-warning { background-color: #d76e19; color: #fff; }
.alert-error { background-color: #a31616; color: #fff; }

.tricon { background-image: inline-image("public/css/images/tricon.png"); background-repeat: no-repeat; background-position: center center; cursor: move; display: inline-block; height: 18px; vertical-align: top; width: 22px; }

.note { color: #838383; font-size: .875em; }
.note, .note:first-child, .note:last-child { margin: .75em 0 0; }

.btn { display: inline-block; padding: .65em .75em; line-height: normal; border: 1px solid $primary-color; font-weight: bold; text-decoration: none; text-align: center; vertical-align: top; }
.btn-default { background-color: $primary-color; color: #fff; }
.btn-default:visited { color: #fff; color: rgba(255, 255, 255, .7); }
.btn-default:focus, .btn-default:hover, .btn-default:active { background-color: lighten($primary-color, 30%); border-color: lighten($primary-color, 30%); }
.btn-light { background-color: lighten($primary-color, 40%); border-color: lighten($primary-color, 40%); color: #fff!important; }
.btn-alt { background-color: #fff; }
.btn-quiet { background-color: #e6e6e6; color: #000; border-color: #e6e6e6; }
.btn-quiet:focus, .btn-quiet:hover, .btn-quiet:active, .btn-light:focus, .btn-light:hover, .btn-light:active { background-color: #000!important; color: #fff !important; border-color: #000; }
.btn-cancel { background-color: transparent; border-color: transparent; text-decoration: underline; }
.btn-cancel:focus, .btn-cancel:hover, .btn-cancel:active { background-color: $tertiary-color; border-color: $tertiary-color; color: #000; text-decoration: none; }
.btn-tricon { background-image: inline-image("public/css/images/tricon.png"); background-repeat: no-repeat; background-position: 1.15em center; padding-left: 3.9em; }
.btn-remove { background-color: #b51919; border: none; color: #fff; }
.btn-remove:focus, .btn-remove:hover, .btn-remove:active { background-color: #851212; }

.form { border-top: 1px solid #e6e6e6; }
.form-group, .alert { margin-left: -1.5em; margin-right: -1.5em; }
.form-group { display: block; margin-bottom: 1.375em; margin-top: 1.375em; position: relative; }
.alert { padding-bottom: 1.1em; padding-top: 1.1em; }
.form-group-highlight { bottom: 0; left: 0; position: absolute; right: 0; top: 0; z-index: 1; }
.form-group:first-child { margin-top: 0; }
.form-group:last-child { margin-bottom: 0; }
.form-group:before, .form-group:after { content: " "; display: table; }
.form-group:after { clear: both; }
.form-label, .form-legend, .form-field { display: block; }
.form-label { margin-bottom: .5em; position: relative; z-index: 2; }
.form-legend { margin-bottom: 1.1em; }
.form-options { margin-left: -1.5em; margin-right: -1.5em; }
.form-options-content { margin: -1px 0; }
.form-option { margin: 1px 0; position: relative; }
.form-option-label { background-color: #e5e5e5; float: none !important; padding: 1.1em 1.5em 1.1em 3em; }
.form-option-field { float: none; left: 1.5em; margin: 0 !important; position: absolute; top: 1.15em; }
.form-control { display: block; }
.form-field-short, .form-field-medium { min-width: 11em; width: 50%; }
.form-field-content, .form-single-checkbox { position: relative; z-index: 2; }
.form-single-checkbox { float: none !important; }

.tab-list { border-bottom: 1px solid #f2f2f2; list-style: none; margin-bottom: 0; margin-top: 0; }
.tab-list-item { float: left; font-weight: bold; margin: 0; }
.tab-list-item-button { border-color: #f2f2f2; border-width: 0 1px 0 0; display: block; padding: 1em 1.5rem; text-decoration: none; }
.tab-list-item-button:focus, .tab-list-item-button:hover, .tab-list-item-button:active { background-color: #ddd; color: #000; }
.tab-list-item-button-active { background-color: #f2f2f2; }

.login { background-color: #ebebeb; }
.login-header-area { background-color: $primary-color; padding: 2em 0; }
.login-header { text-align: center; color: #fff; margin: 0; text-decoration: underline; text-transform: uppercase; }
.login-header:after { content: ""; background-image: inline-image("public/css/images/content-icon.png"); background-repeat: no-repeat; background-position: right center; width: 32px; height: 65px; display: inline-block; vertical-align: -0.375em; margin-left: 0.15em; }
.login-area {  }
.login-area-form { max-width: 22em; margin: 0 auto; padding: 2.222em 0; font-size: 18px; }
.login-area-form .separate { margin: 5px 0; }
.forgot-password-action-container { text-align: center; margin: 2.222em 0; }

.add-item { float: left; }
.add-item-button { margin: 0 -.75em; }
.filter-search { float: right; max-width: 12em; }
.search-control { background-color: lighten($tertiary-color, 5%); }

.table-row { @include transition(compcact(.1s)); }
.table-row:nth-child(odd) { background-color: #f2f2f2; }
.table-row.ui-sortable-helper:hover .table-control-remove-button { display: none; }
.table-row-editable { cursor: pointer; }
.table-row-editable:hover { background-color: #ddd; }
th, td/*, .table-cell, .table-header*/ { display: none; padding-top: $paragraph-margin; padding-bottom: $paragraph-margin; }
.table-order, .table-control { display: table-cell; }
th:nth-child(-n+2), td:nth-child(-n+2) { display: table-cell; }​
th.sorting, .table-header-sort-item-active-asc, .table-header-sort-item-active-desc { cursor: pointer; }
th.sorting:hover, .table-header-sort-item-active-asc:hover, .table-header-sort-item-active-desc:hover  { background-color: #ddd; }
th.sorting.table-order, th.sorting.table-control, th.table-order.table-header-sort-item-active-asc, th.table-order.table-header-sort-item-active-desc, th.table-control.table-header-sort-item-active-asc, th.table-control.table-header-sort-item-active-desc, th.sorting.table-order:hover, th.sorting.table-control:hover { background-color: transparent; cursor: auto; }
.table-header-sort { margin-right: .25em; position: absolute; right: 100%; top: 0; }
.table-header-sort-item { display: block; font-size: 10px; line-height: 1; @include opacity(.25); }
.table-header-sort-item:before { display: inline-block; vertical-align: top; }
.table-header-sort-item-asc:before { content: "▲"; }
.table-header-sort-item-desc:before { content: "▼"; }
.table-header-sort-item-active-asc .table-header-sort-item-asc, .table-header-sort-item-active-desc .table-header-sort-item-desc { @include opacity(1); }
.table-order { display: none; width: 22px; }
.js .table-order { display: table-cell; }
.table-control { position: relative; padding: 0; width: 1px; }
.table-control-content { height: 100%; left: 100%; margin: 0; position: absolute; top: 0; width: 4.071em; }
.table-control-list { display: none; margin: 0; /*position: absolute; top: .25em; bottom: 0; left: -25%; right: 0;*/ }
.table-control-item { margin: 0; display: inline-block; vertical-align: top; margin-right: .15em; }
.table-control-remove-button { bottom: 0; height: 4.071em; left: 0; margin: 0; position: absolute; top: 0; width: 100%; }
.table-control-active { @include transform(translate(-4.071em, 0)); }

.sortable { margin: 0; }
.sortable li { margin: 0; }
.sortable-item { @include transition(compact(.3s)); padding-top: $paragraph-margin; padding-bottom: $paragraph-margin; position: relative; background-image: inline-image("public/css/images/tricon.png"); background-repeat: no-repeat; background-position: 97.5% center; }
.sortable-item:active { outline: 1px solid #000; }
.sortable ul, .sortable ul ul { margin-left: 1.5em; margin-right: 1.5em; margin-top: 0; margin-bottom: 0; list-style: none; list-style-image: none; }
.sortable-item:before { content: ""; background-image: inline-image("public/css/images/triangle-arrow.png"); background-repeat: no-repeat; background-position: center center; display: block; width: 7px; height: 11px; position: absolute; top: 50%; left: 1.45em; margin-top: -5px; }
.sortable-item.open:before { content: ""; background-image: inline-image("public/css/images/triangle-arrow-down.png"); width: 11px; height: 7px; margin-top: -3px; }
.sortable-placeholder { outline: 1px dashed #000; }

.js .tab-pane {  }

.media-wrapper { display: block; margin-left: 1px; padding-bottom: 100%; position: relative; }
.media-wrapper-content { background-color: #fff; border: 1px solid #ddd; bottom: 0; left: 0; position: absolute; right: 0; top: 0; }
.media-wrapper-content-wrapper { display: table; height: 100%; table-layout: fixed; width: 100%; }
.media-wrapper-content-wrapper-inner { display: table-cell; height: 100%; padding: 1em; vertical-align: middle; width: 100%; }

.video-preview {  }
.video-preview-loader { background: url("public/css/images/ajax-loader.gif") no-repeat center; @include background-size(100%); display: block; height: 16px; margin: $paragraph-margin auto; width: 16px; }

.header, .header-top, .system-name { color: #fff; }
.header, .header-top { width: 0; }
.header { background-color: #222; bottom: 3.357em; left: 0; overflow-y: auto; -webkit-overflow-scrolling: touch; position: fixed; top: 3.357em; }
.header-top { background-color: $secondary-color; bottom: 0; left: 0; margin: 0; overflow: hidden; padding-bottom: 1em; padding-top: 1em; position: fixed; }
.header-middle { background-color: $tertiary-color; left: 22.5em; margin: 0; padding: 0; position: fixed; right: 0; top: 0; }
.header-middle .identity { background-image: inline-image("public/css/images/just.png"); background-repeat: no-repeat; background-position: right bottom; padding: 2.15em 0; }
.header-bottom { background-color: #f2f2f2; border-bottom: 1px solid #e6e6e6; display: table-caption; padding-top: 3.357em; width: 100%; }
.system-name { color: #fff; font-weight: bold; left: 0; margin: 0; position: fixed; top: 0; white-space: nowrap; width: 100%; z-index: 10; }
.system-name-button { background-color: #000; border-bottom: 1px solid #000; color: inherit; display: block; font-size: 1.5em; height: 3.357rem; line-height: 3.357rem; padding: 0 1.5rem; text-align: center; text-decoration: none; text-transform: uppercase; }
.system-name-button:visited { color: #fff; color: rgba(255, 255, 255, .8); }
.system-name-button:focus, .system-name-button:hover, .system-name-button:active { background-color: #1a1a1a; }
.system-user { margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.system-log { margin: 0; position: absolute; right: 0; top: 0; }
.system-log-button { border-color: #000 #000 #000 #222; border-width: 1px 0 0 1px; color: #fff; display: inline-block; font-weight: bold; line-height: inherit; margin: -1em -1.5em; padding: 1em 1.5em; text-decoration: none; vertical-align: top; }
.system-log-button:after { background-image: inline-image("public/css/images/system-log.png"); background-repeat: no-repeat; background-position: right center; content: ""; display: inline-block; height: 16px; opacity: .7; vertical-align: top; width: 16px; }
.system-log-button:visited { color: #fff; color: rgba(255, 255, 255, .7); }
.system-log-button:focus, .system-log-button:hover, .system-log-button:active { background-color: #222; }
.system-client { font-size: 2.3em; margin: 0; }
.system-client-button { text-decoration: none; }
.system-client-button:focus, .system-client-button:hover, .system-client-button:active { background-color: transparent; text-decoration: underline; }

.breadcrumbs-list { margin: 0; overflow: hidden; white-space: nowrap; }
.breadcrumbs-item { float: left; margin: 0; }
.breadcrumbs-item:last-child { font-weight: bold; }
.breadcrumbs-item:last-child .breadcrumbs-link:before { background-image: none; display: none; }
.breadcrumbs-item:last-child .breadcrumbs-link:after { content: ""; }
.breadcrumbs-item:last-child .breadcrumbs-link { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.breadcrumbs-link { font-size: .875em; text-decoration: none; display: block; text-align: center; padding: 1.3em .85em; padding-right: 1.75em; position: relative; }
.breadcrumbs-link-text { display: none; }
.breadcrumbs-link:after { content: "…"; }
.breadcrumbs-link:before { content: ""; background-image: inline-image("public/css/images/bc-arrow.png"); background-repeat: no-repeat; background-position: center center; width: 8px; height: 48px; position: absolute; top: 0; right: 0; }
.breadcrumbs-link-button:focus, .breadcrumbs-link-button:hover, .breadcrumbs-link-button:active { background-color: transparent; color: #999; opacity: .7; }
.breadcrumbs-first { background-image: inline-image("public/css/images/home.png"); background-repeat: no-repeat; background-position: 1.5rem center; padding-left: 1.5rem; padding-right: 2em; text-indent: -9999em; width: 15px; }

.main-nav { white-space: nowrap; }
.main-nav-list { margin: 0; }
.main-nav-item { border-bottom: 1px solid #2d2d2d; margin: 0; }
.main-nav-item-active { background-color: #2d2d2d; }
.main-nav-link { color: #fff; display: block;/* font-size: 1.15em; font-weight: bold;*/ padding: 1em 1.5em; text-decoration: none; }
.main-nav-link:visited { color: #fff; color: rgba(255, 255, 255, .7); }
.main-nav-link:focus, .main-nav-link:hover, .main-nav-link:active { background-color: #1a1a1a; }
.sub-list { /*margin: 0 2em; margin-bottom: 1em;*/ margin: 0; padding: 0 0 .75em; }
.sub-item { margin: 0; }
.sub-item-button { color: #fff; display: block; padding: .25em 2.5em; text-decoration: none; }
.sub-item-button-active { font-weight: bold; }
.sub-item-button:visited { color: #fff; color: rgba(255, 255, 255, .7); }

.footer { bottom: 0; height: 0; left: 0; overflow: hidden; position: fixed; right: 0; }
.footer-content { padding-bottom: 1em; padding-top: 1em; }

.js body, .js .header, .js .header-top, .system-name, .main-content, .header-bottom, .footer { @include transition(bottom, height, left, opacity, padding-left, padding-top, right, width, .5s); }
.js .menu-activated { left: 17.5em; }
.js .menu-activated .header, .js .menu-activated .header-top { width: 17.5em; }
.js .login { @include transition(compact(none)); }

.js.touch .dataTables_wrapper { overflow: hidden; }

@include respond-min-width(30em) {
	.breadcrumbs-link-text { display: inline; }
	.breadcrumbs-link:after { content: ""; }
}

@include respond-min-width(40em) {
	body { background-color: #ebebeb; }
	datalist, input, select, textarea, .input, .sp-replacer { background-color: #fff; }
	h1, .title { font-size: 3.5em; }
	h1, .onetomany-relation-content h1 { margin: -2.75rem 0 0; padding: 2.75rem 0; }
	.onetomany-relation-content h1 { margin-bottom: .75em; margin-top: 0; padding: 0; }
	th, td { display: table-cell; padding-left: 1.375em; padding-right: 1.375em; }
	label.form-group:hover, .form-field-content:focus + .form-group-highlight, .single-checkbox:focus + .form-group-highlight, .form-single-checkbox:checked + .form-group-highlight, .form-option-label:focus, .form-option-label:hover, .form-option-label:active, .form-option-field:hover + .form-option-label, .form-option-field:focus + .form-option-label, .form-option-field:checked + .form-option-label { background-color: #d4d4d4; }
	.page { padding: 0 4.071em; }
	.touch .page { padding: 0; }
	.content-body { background-color: #fff; border-color: #ddd; border-width: 0 1px; }
	.content-body, .form-group, .alert, .footer-content, .tab-list-item-button, .table-header-last, .table-cell-last { padding-right: 2.75rem; }
	.content-body, .form-group, .alert, .footer-content, .tab-list-item-button, th:first-child, td:first-child { padding-left: 2.75rem; }
	.content-body { padding-bottom: 2.75em; padding-top: 2.75em; }
	.data-wrapper { overflow: visible; }
	.table-control-remove-button { @include opacity(0); }
	.touch .table-control-remove-button, .table-row-deletable:hover .table-control-remove-button { @include opacity(1); }
	.tab-list-item { font-size: 1.5em; }
	.form-group, .alert, .content-alt, .form-options { margin-right: -2.75em; }
	.form-group, .alert, .content-alt { margin-left: -2.75em; }
	.form-group { background-color: #f2f2f2; margin-bottom: 1px; margin-top: 1px; padding-bottom: 1.1em; padding-top: 1.1em; }
	.form-label { float: left; margin-bottom: 0; width: 33.333%; }
	.form-field { float: right; width: 66.667%; }
	.form-field-short { min-width: 0; width: 25%; }
	.form-options { margin-bottom: -1.1em; margin-left: 0; margin-top: -1.1em; padding-left: 0; padding-right: 0; }
	.form-option-control { padding-left: 1em; padding-right: 1em; }
	.form-option-label { padding: 1.1em 2.75em 1.1em 2.5em; }
	.form-option-field { left: 1em; top: 1.05em; }
	.form-control { margin-top: -.825em; }
	.form-control:only-child { margin-bottom: -.825em; }
	.alert-success { margin: 0; padding-left: 1.5em; padding-right: 1.5em; }
	.sortable-handle { padding-right: 2.75em; }
	.add-item-button { margin: 0 -1.25em; }
	.filter-search { margin-top: 5px; }
	.btn { padding: 1em 1.25em; }
	.offset-3, .offset-control-list { margin-left: 33.333%; }
}

@include respond-min-width(60em) {
	.menu-nav { opacity: 0; }
	.main-content { padding-bottom: 7em; padding-left: 17.5em; padding-top: 3.357em; }
	.header-bottom { left: 17.5em; padding: 0; position: fixed; right: 0; top: 0; width: auto; z-index: 10; }
	.header-top { right: auto; }
	.header, .header-top, .system-name { width: 17.5em; }
	.system-name-button { text-align: left; }
	.footer { background-color: #dadada; height: 3.357em; left: 17.5em; z-index: 2; }
	.js .menu-activated { left: auto; }
}

@include respond-min-width(67.5em) {
	.main-content { padding-left: 22.5em; }
	.header-bottom { left: 22.5em; }
	.header, .header-top, .system-name { width: 22.5em; }
	.footer { left: 22.5em; }
}

.js .js-datatable { display: none; }
.js .js-datatable.dataTable { display: table; }
.js .ckeditor { height: 244px; visibility: hidden; }

.login-area-form .alert { margin-left: 0; margin-right: 0; padding: .65em .75em; }

.lightbox { bottom: 0; left: 0; position: absolute; right: 0; top: 0; width: 100%; z-index: 9999; }
.lightbox-overlay { background-color: #000; height: 100%; left: 0; @include opacity(.9); position: fixed; top: 0; width: 100%; z-index: 9999; }

.section-main { margin-bottom: $paragraph-margin*4; margin-top: $paragraph-margin*4; }
.section-sub { margin-bottom: $paragraph-margin*2; margin-top: $paragraph-margin*2; }
.section-row { margin-bottom: 1px; margin-top: 1px; }
.section-start { margin-top: 0; }
.section-end { margin-bottom: 0; }

.js .js-hide, .js .js-remove, .hide { display: none; }
/*.js textarea { overflow-y: hidden; }*/
/*.js textarea, */.js .js-cover { visibility: hidden; }
.js .js-transparent { @include opacity(0); }


/* print */

@media print {
  * { background: transparent !important; box-shadow: none !important; color: #000 !important; text-shadow: none !important; }
  aside, audio, button, canvas, embed, footer, form, header, menu, nav, object, video, .no-print, #menu { display: none; }
  a[href]:after { content: " (" attr(href) ") "; font-size: 90%; }
  a[href^="/"]:after { content: " (http://" attr(href) ") "; }
  abbr:after { content: " (" attr(title) ")"; }
  thead { display: table-header-group; }
  tr, img, pre, blockquote { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
  h2, h3, p { orphans: 3; widows: 3; }
  @page { margin: .5cm; }
}